<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>

      <uiDuplicateItem>
        <processor mode="on" type="Sitecore.Support.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Support.94361" method="Execute" patch:instead="processor[@type='Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets']"/>

        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.DuplicateItem, Sitecore.Support.94361" method="Execute" patch:instead="processor[@type='Sitecore.Shell.Framework.Pipelines.DuplicateItem,Sitecore.Kernel'][last()]"/>
      </uiDuplicateItem>

      <uiCopyItems>
        <processor mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.CopyItems, Sitecore.Support.94361" method="Execute" patch:instead="processor[@type='Sitecore.Shell.Framework.Pipelines.CopyItems,Sitecore.Kernel'][last()]"/>
      </uiCopyItems>

    </processors>
  </sitecore>
</configuration>